.App {
  text-align: center;
}
.btn {
  height: 2em;
  width: 6em;
  border-radius: 5px;
  background: tan;
  color: white;
  margin: 1%;
}

.gameGrid {
  width: 90%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btnContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  color: navy;
}