.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  height: 2em;
  width: 120px;
  border-radius: 5px;
  background: navy;
  color: white;
  margin: 1%;
  border: none;
  font-size: 12px;
}
.middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.gameGrid {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btnContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  color: navy;
  background-color: #fcf2dc;
  display: flex;
  justify-content: center;
  line-height: 1.2;
}
.rulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2%;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  margin: 2%;
}
.gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

h3 {
  width: 33%;
}


