.App {
  text-align: center;
}
.btn {
  height: 2em;
  width: 6em;
  border-radius: 5px;
  margin: 1%;
  background: tan;
  color: white;
}

.gameGrid {
  width: 90%;
  display: flex;
  justify-content: center;
}